@use 'src/styles/vars';

.forgotpassword {
  padding: vars.$padding-header-footer-medium 0;

  display: grid;
  grid-template-areas:
    'message'
    'form';
  grid-template-columns: minmax(100px, 80%);
  grid-template-rows: auto 1fr;
  gap: vars.$gutter-medium;
  justify-content: center;

  .forgotpassword-message{
    grid-area: message;
    justify-self: center;
    text-align: center;
    width: 100%;
    max-width: 600px;

    .forgotpassword-message-title {
      margin: 0 0 1rem;
      font-size: vars.$font-h3;
      font-weight: vars.$font-bold;
    }
    .forgotpassword-message-subtitle {
      margin: 0 0 1rem;
      display: block;
      font-size: 0.8rem;
      font-weight: vars.$font-bold;
      color: vars.$color-purple;
      text-transform: uppercase;
    }

    .forgotpassword-message-paragraphe {
      font-size: 1rem;
      line-height: 1.4rem;

      & span {
        margin: 1rem 0 0;
        display: block;
        font-size: 0.8rem;
      }
    }
  }

  .forgotpassword-form {
    grid-area: form;
    justify-self: center;
    width: 100%;
    max-width: 300px;

    .forgotpassword-form-input-wrap {
      display: flex;
      flex-direction: column;

      .forgotpassword-form-input-label {
        margin: 0 0 0.5rem;
        font-size: 0.8rem;
      }

      .forgotpassword-form-input {
        width: 100%;
        height: 2rem;
        margin: 0 0 1.5rem;
        padding: 1rem;
        border-radius: 1rem;
        border: 0.1rem solid vars.$color-gray-light;
      }
    }

    .forgotpassword-form-input-alert {
      width: 100%;
      height: 2rem;
      border-radius: 1rem;
      border: none;
    }

    .forgotpassword-form-submit {
      width: 100%;
      height: 2rem;
      font-size: vars.$font-medium;
      color: vars.$color-white;
      border-radius: 1rem;
      border: none;
      background-color: vars.$color-purple;
    }
  }
}

// Breakpoint mobile
@media screen and (min-width: vars.$breakpoint-mobile-min) {}

// Breakpoint mobile plus
@media screen and (min-width: vars.$breakpoint-mobile-plus-min) {}

// Breakpoint tablet
@media screen and (min-width: vars.$breakpoint-tablet-min) {}

// Breakpoint laptop
@media screen and (min-width: vars.$breakpoint-laptop-min) {}

// Breakpoint desktop
@media screen and (min-width: vars.$breakpoint-desktop-min) {}

// Breakpoint ultra
@media screen and (min-width: vars.$breakpoint-ultra-min) {}
