@use 'src/styles/vars';

// sidebar
.navidentity-sidebar {
  width: 100vw;
  height: 100vh;
  padding-bottom: 80px;
  overflow-y: auto;
  position: fixed;
  top: 80px;
  right: -100vw;
  display: flex;
  flex-direction: column;
  text-align: center;
  font-weight: vars.$font-bold;
  background-color: vars.$color-white;
  transition: vars.$animation-duration-medium ease-in-out;

  &.open {
    top: 80px;
    right: 0;
  }
  
  .navidentity-sidebar-message {
    display: flex;
    flex-direction: column;
    font-weight: vars.$font-light;
    color: vars.$color-gray-dark;
    padding: 2rem 0;
    border-bottom: 0.1rem solid vars.$color-gray;

    .navidentity-sidebar-message-link-name{
      display: block;
      margin-top: 0.5rem;
      font-weight: vars.$font-bold;
          
      .navidentity-sidebar-message-link{
        position: relative;
        padding-bottom: 0.5rem;
        color: vars.$color-purple;
            
        &.navidentity-sidebar-message-link::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 3px;
          background-color: vars.$color-purple;
          opacity: 0;
          transition: vars.$animation-duration-small ease-out;
        }
  
        &.navidentity-sidebar-message-link:hover::before {
          width: 100%;
          opacity: 1;
        }
  
        &.navidentity-sidebar-message-link::before {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }

  .navidentity-sidebar-list {

    .navidentity-sidebar-list-item {
      padding: 2rem 0;
      border-bottom: 0.1rem solid vars.$color-gray;
          
      // on annule la bordure
      &:last-child {
        border: none;
      }
  
      .navidentity-sidebar-list-item-link {
        position: relative;
        padding-bottom: 0.5rem;
  
        &.navidentity-sidebar-list-item-link::before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          width: 0;
          height: 3px;
          background-color: vars.$color-purple;
          opacity: 0;
          transition: vars.$animation-duration-small ease-out;
        }
  
        &.navidentity-sidebar-list-item-link:hover::before {
          width: 100%;
          opacity: 1;
        }
  
        &.navidentity-sidebar-list-item-link::before {
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

// Breakpoint laptop
@media screen and (min-width: vars.$breakpoint-laptop-min) {
  // sidebar
  .navidentity-sidebar {
    width: initial;
    height: initial;
    padding-bottom: initial;
    overflow-y: initial;
    position: initial;
    top: initial;
    left: initial;
    justify-content: initial;
    text-align: initial;
    align-items: flex-end;
    background-color: initial;
    transition: initial;

    &.open {
      top: initial;
      left: initial;
    }

    .navidentity-sidebar-message{
      display: initial;
      flex-direction: initial;
      padding: initial;
      border-bottom: initial;
      margin-bottom: 0.4rem;

      .navidentity-sidebar-message-link-name{
        display: initial;
        margin-top: initial;
        margin-left: 0.5rem;
      }
    }

    .navidentity-sidebar-list{
      display: flex;
      flex-direction: row;
      justify-content: flex-end;

      li:first-child {
        padding: 0.5rem 0 0 0;
      }

      .navidentity-sidebar-list-item {
        width: initial;
        padding: 0.5rem 0 0 1rem;
        white-space: nowrap;
        border-bottom: initial;
      }
    }
  }
}
