@use 'src/styles/vars';

.notfound {
  height: 100vh;
  display: grid;
  grid-template-areas:
    'header'
    'main'
    'footer';

  grid-template-columns: 1fr;
  grid-template-rows: 80px 1fr 150px;
  // gap: vars.$gutter-medium;

  .notfound-content {
    grid-area: main;
  height: 100%;

  background-image: url('src/assets/images/bg-404/photo-error-404-desktop-1920.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  }
}

// Breakpoint laptop
@media screen and (min-width: vars.$breakpoint-laptop-min) {
  .notfound {
    grid-template-rows: 150px 1fr 150px;
  }
}
