@use 'src/styles/vars';

.account {
  grid-area: main;

}

// Breakpoint mobile
@media screen and (min-width: vars.$breakpoint-mobile-min) {}

// Breakpoint mobile plus
@media screen and (min-width: vars.$breakpoint-mobile-plus-min) {}

// Breakpoint tablet
@media screen and (min-width: vars.$breakpoint-tablet-min) {}

// Breakpoint laptop
@media screen and (min-width: vars.$breakpoint-laptop-min) {
  .account {
    justify-self: center;
    padding: vars.$padding-header-footer-medium 0;
  
  
    display: grid;
    grid-template-areas:
      'aboutyou aboutyou myshop'
      'password email closeaccount';
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    gap: vars.$gutter-medium;
    justify-content: center;
  
    .aboutyou {
      grid-area: aboutyou;
      width: 100%;
      height: 100%;
      background-color: vars.$color-gray-ultra-light;
    }
  
    .myshop {
      grid-area: myshop;
      background-color: vars.$color-gray-ultra-light;
    }
  
    .password {
      grid-area: password;
      background-color: vars.$color-gray-ultra-light;
    }
  
    .email {
      grid-area: email;
      background-color: vars.$color-gray-ultra-light;
    }
  
    .closeaccount {
      grid-area: closeaccount;
      background-color: vars.$color-gray-ultra-light;
    }
  }
}

// Breakpoint desktop
@media screen and (min-width: vars.$breakpoint-desktop-min) {}

// Breakpoint ultra
@media screen and (min-width: vars.$breakpoint-ultra-min) {}
