@use 'src/styles/vars';

.map {
  width: 100%;
  height: 100%;
  margin: 0;
  padding:0;
  z-index: 0;
  background-color: vars.$color-white;

  .leaflet-bar {
    border: none;

    a:hover {
      color: vars.$color-white;
      background-color: vars.$color-purple;
    }
  }

  .leaflet-tile-pane {
    filter: grayscale(100%);
  }
}
