@use 'src/styles/vars';

.register {

  .register-form {

    .registerfield-input-label {
      .registerfield-input {
        width: 100%;
        height: 2rem;
        margin: 1rem 0 0;
        padding: 1rem;
        border-radius: 1rem;
        border: none;
      }
    }

    .register-form-input-alert {
      width: 100%;
      padding: 0.8rem;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: vars.$font-small;
      color: vars.$color-white;
      border-radius: 2rem;
      background-color: vars.$color-purple;
    }

    .register-form-input-validation {
      width: 100%;
      margin: 0.5rem 0 0;
      display: inline-block;
      font-size: vars.$font-small;
      color: vars.$color-purple;
    }

    .registerfield-checkbox {
      margin: 1rem 0 0;

      .registerfield-checkbox-label {
        display: flex;
        flex-direction: row;
        .registerfield-checkbox-label-text{
          width: 100%;
          margin-left: 1rem;
          font-size: vars.$font-medium;
          line-height: 1.2rem;
        }
      }
    }

    .register-form-submit {
      width: 100%;
      height: 2rem;
      margin: 1rem 0 0;
      font-size: vars.$font-medium;
      color: vars.$color-white;
      border-radius: 1rem;
      border: none;
      background-color: vars.$color-purple;
    }
  }
}
