@use 'src/styles/vars';

.identity {
  grid-area: main;
  padding: vars.$padding-header-footer-small 0;

  display: grid;
  grid-template-areas:
    'button'
    'form';
  grid-template-columns: minmax(100px, 70%);
  grid-template-rows: auto 1fr;
  gap: vars.$gutter-small;
  justify-content: center;
  background-color: vars.$color-primary;

  
  // Button switch
  .identity-container-button {
    grid-area: button;
    justify-self: center;

    max-width: 220px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 5rem;
    background-color: vars.$color-white;
      
    .identity-container-button-login,
    .identity-container-button-register {
      max-width: 110px;
      padding: 0.5rem 1rem;
      font-size: vars.$font-medium;
      text-align: center;
    }
  
    .identity-container-button-login {
      border-radius: 5rem;
      color: vars.$color-white;
      background-color: vars.$color-purple;
     
      &.switch {
        border-radius: 5rem;
        color: vars.$color-gray-dark;
        background-color: vars.$color-white;
      }
    }
  
    .identity-container-button-register {
      border-radius: 5rem;
      color: vars.$color-gray-dark;
      background-color: vars.$color-white;
  
      &.switch {
        border-radius: 5rem;
        color: vars.$color-white;
        background-color: vars.$color-purple;
      }
    }
  }
  
  .identity-container-form {
    grid-area: form;
    justify-self: center;

    max-width: 350px;
  }
}
